
@font-face {
  font-family: 'NiveauGroteskRegular-Italic';
  src: url('NiveauGroteskRegular-Italic.eot?#iefix') format('embedded-opentype'),  url('NiveauGroteskRegular-Italic.otf')  format('opentype'),
	     url('NiveauGroteskRegular-Italic.woff') format('woff'), url('NiveauGroteskRegular-Italic.ttf')  format('truetype'), url('NiveauGroteskRegular-Italic.svg#NiveauGroteskRegular-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
